@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Manjari:wght@100;400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    padding: 0;
    margin: 0;
}
img{
    border-radius: .6em;
}
body{
   background-color: rgb(247, 247, 247);
   width: 100%;
}
.container_main{
    display: flex;
    flex-flow: column nowrap;
    margin: 25px 20px;
    padding: 0 1.5rem;
}
.flexcol{
    display: flex;
    flex-flow: column
}
.flexrow{
    display: flex;
    flex-flow: row;
    /*align-items: center;*/
}
.categcarrossel{
    margin: 0px 0px 30px 0px;
}
.menu_categorias{
    border-radius: .3em;
    padding: 1.5em 1.5em;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.450);
    background-color: white;
}
ul.categorias{
    list-style-type: none;
}
ul.categorias > li{
    margin: 1.6rem 0px;
    text-align: center;
    font: 00 .95em 'Manjari', cursive;
}
ul.categorias > li:last-child{
    margin-bottom: 0;
}
ul.categorias > li > a:active{
    color: #00740f;
}
.title_categorias{
    font-weight: 900;
    font-size: 1.1em;
}
.slidecarrossel{
    padding: 5px;
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.61);*/
    margin: auto;
    border-radius: .3em;
}
.slidecarrossel > h1{
    text-align: center;
    font-weight: 900;
    font-size: 1.85em;
    margin: 0px 0px 5px 0px;
}
.galeriaprodutos{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 0 0 .6rem 0;
}
.galeriaprodutos p{
    margin: .8rem 1rem .5rem 1rem;
    text-align: center;
}
.vermais{
    text-decoration: none;
    color: #00740f;
    font-size: 1rem;
    font-weight: 900;
    transition: all .5s ease-in-out 0s;
}
.vermais:hover{
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.nomecategoria{
    text-align: center;
    margin: .5rem 1rem 1rem 1rem;
    font-size: 1.7rem;
}
.prodcategs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
}
.produto{
    display: flex;
    flex-flow: column nowrap;
    padding: .5em;
    margin: .5em .5rem;
    border-radius: .3em;
    width: 12em;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.389);
    transition: all 0.5s ease-in-out 0s;
    background-color: #fff;
    height: 226px;
}
.produto:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.5);
}
.produto img{
    padding: .2rem;
}
.produto h1{
    font-size: 1rem;
    font-weight: 400;
    margin: .3rem 0;
    text-align: center;
}

#btnSair{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
.logolink{
    text-decoration: none;
}