@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&family=Manjari:wght@100;400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    padding: 0;
    margin: 0;
}

body{
   background-color: rgb(249, 255, 251); 
}
ul.categorias{
    list-style-type: none;
}
ul.categorias > li{
    margin: 20px 0px;
    text-align: center;
    font: 00 .95em 'Manjari', cursive;
}
ul.categorias > li:last-child{
    margin-bottom: 0;
}
ul.categorias > li > a:active{
    color: #00740f;
}
.container_main{
    display: flex;
    flex-flow: column nowrap;
    margin: 25px 20px;
}
.flexrow{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.categcarrossel{
    margin: 0px 0px 30px 0px;
}
.menu_categorias{
    border-radius: .3em;
    padding: 1.5em 1.5em;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.61);
}
.title_categorias{
    font-weight: 900;
    font-size: 1.1em;
}
.catigurias{
    max-height: 435px;
}
.slidecarrossel{
    padding: 5px;
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.61);*/
    margin: auto;
    margin-top: 0px;
    border-radius: .3em;
}
.slidecarrossel > h1{
    text-align: center;
    font-weight: 900;
    font-size: 1.85em;
    margin: 0px 0px 5px 0px;
}
.produto{
    display: flex;
    flex-flow: column nowrap;
    padding: .3em;
    border-radius: .3em;
    max-width: 210px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.514);
    transition: all 0.5s ease-in-out 0s;
}
.produto:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.74);
}
